<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ page.title }} | Discord-Samba</title>
	<meta name="description" property="og:description" content="{{ site.description }}" />
	<meta name="keywords" content="Discord-Samba Samba Discord framework" />
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
	<meta property="og:site_name" content="Discord-Samba">
	<meta name="twitter:card" content="summary">

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Code+Pro:400,700" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?version={{ site.time | date: '%s' }}">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}components/discord/styles.css">

	<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" >
</head>
