<header>
	<div class="container">
		<a href="{{ site.url }}{{ site.baseurl }}/" class="logo">@discord-samba/command</a>
		<nav>
			<ul>
				<li>
					<div class="dropdown">
						<button class="dropdown-menu"><img src="{{ site.baseurl }}/images/dropdown.png" />MODULES</button>
						<div class="dropdown-content">
							<a class="current" href="https://discord-samba.github.io/command">Command</a>
							<a href="https://discord-samba.github.io/localization">Localization</a>
							<a href="https://discord-samba.github.io/logger">Logger</a>
						</div>
					</div>
				</li>
				<li><a href="{{ site.baseurl }}/guides/default">Guides</a></li>
			   	<li><a href="{{ site.baseurl }}/docs/">Docs</a></li>
			</ul>
		</nav>
	</div>
</header>
