name: Publish Dev Build

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      
      - name: Install Node v14
        uses: actions/setup-node@v1
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      
      - name: Install dependencies
        run: npm install

      - name: Build package
        run: npm run build

      - name: Clone staging, prep, and check for changes
        id: staging
        run: |
          git clone https://${{ github.actor }}:${{ secrets.DOCS_TOKEN }}@github.com/${{ github.repository }}.git -b staging ../staging
          cd ../staging

          # Delete everything but .git directory
          ls -la | grep -oP '\S+?(?<!\.git|\.)$' | xargs rm -rf

          # Return to main repo directory
          cd ../$(echo '${{ github.repository }}' | grep -oP '/\K.+')

          # Copy src files to staging
          cp -a src/. ../staging/.

          # Remove tests from staging, dont need to publish new build for test changes
          rm -rf ../staging/__test__

          cd ../staging
          echo "##[set-output name=status;]$(git status | grep 'nothing to commit')"

      - name: Update staging
        if: contains(steps.staging.outputs.status, 'nothing to commit') != true
        run: |
          cd ../staging
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor}}@users.noreply.github.com"
          git add --all
          git commit -m "Push staging from: ${{ github.sha }}"
          git push origin staging

      - name: Generate dev version
        if: contains(steps.staging.outputs.status, 'nothing to commit') != true
        run: |
          npm --no-git-tag-version version $(cat package.json | grep -oP '"version": "\K[^"]+(?=")')-dev.$(git rev-parse --verify HEAD)

      - name: Publish to NPM
        if: contains(steps.staging.outputs.status, 'nothing to commit') != true
        run: npm publish --tag dev --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
